# Copy to .env beside both centre Compose files.

STARRY_IMAGE=ghcr.io/q1ngyang/rustdesk-server-starry
STARRY_VERSION=1.1.16-patch-v1.2.0

CENTER_COMPOSE_PROJECT_NAME=rustdesk-center
CENTER_HBBS_CONTAINER_NAME=rustdesk-starry-hbbs
CENTER_HBBR_CONTAINER_NAME=rustdesk-hbbr
CENTER_SERVER_DATA_DIR=./data/server
RUSTDESK_LOG_LEVEL=info
TZ=Etc/UTC
